body {
  background-color: #FF530D
}

input {
  color: black;
}

.container {
  color: white;
  display: none;
  border: 15px;
  border-radius:  10px;
  background-color: #FF0000;
  box-shadow: 5px 5px black;
  margin: 10px;
}

.container button {
  margin: 5px;
  box-shadow: 2px 2px black;
}